<form [formGroup]="internshipForm" (ngSubmit)="onSubmit(internshipForm)">

  <div class="row" >
    <div class="form-group">
      <label for="initials">Your KEA initials</label>
      <br/>
      <input type="text"
             id="initials"
             placeholder="e.g. 123john"
             class="form-control"
             value="{{this.selectedInternship?.data.initials}}"
             [class.error]="!internshipForm.controls.initials.valid && internshipForm.controls.initials.touched &&
                              internshipForm.controls.initials.hasError('invalidChars')"
             [formControl]="internshipForm.controls['initials']">

      <div class="error-message" *ngIf="!internshipForm.controls.initials.valid &&
                      internshipForm.controls.initials.touched" >
        Name field is invalid
      </div>

      <div class="error-message" *ngIf="internshipForm.controls.initials.hasError('required') &&
                     internshipForm.controls.initials.touched ">
        Please enter your initials
      </div>

      <div class="error-message" *ngIf="internshipForm.controls.initials.hasError('invalidChars') &&
         internshipForm.controls.initials.touched">
        Must begin with 123
      </div>
    </div>
  </div>

  <!--
  <div class="row">
    <div class="form-group">
      <label for="email">Your email</label>
      <br/>
      <input type="text"
             id="email"
             placeholder="e.g. john@john.com"
             class="form-control"
             [class.error]="!internshipForm.controls.email.valid && internshipForm.controls.email.touched"
             [formControl]="internshipForm.controls['email']">

      <div class="error-message" *ngIf="internshipForm.controls.email.hasError('invalidEmail') &&
                      internshipForm.controls.email.touched ">
        Email format must be name@example.com
      </div>

      <div class="error-message" *ngIf="internshipForm.controls.email.hasError('required') &&
                     internshipForm.controls.email.touched ">
        Please enter an email
      </div>
    </div>
  </div>
  -->

  <div class="row">
    <div class="form-group">
      <label for="visitdate">Visit date</label>
      <br/>
      <input type="text"
             id="visitdate"
             placeholder="e.g. 01/01/16"
             class="form-control"
             value="{{this.selectedInternship?.data.visitdate}}"
             [class.error]="!internshipForm.controls.visitdate.valid && internshipForm.controls.visitdate.touched ||
                internshipForm.controls.visitdate.hasError('pattern')"
             [formControl]="internshipForm.controls['visitdate']">

      <div class="error-message" *ngIf="!internshipForm.controls.visitdate.valid &&
                      internshipForm.controls.visitdate.touched " >
        Date format must me dd/mm/yyy
      </div>

      <div class="error-message" *ngIf="internshipForm.controls.visitdate.hasError('required') &&
                     internshipForm.controls.visitdate.touched ">
        Please enter a date
      </div>
    </div>
  </div>


  <div class="row">
    <div class="form-group">
      <label for="studentname">Name of the student you visited</label>
      <br/>
      <input type="text"
             id="studentname"
             placeholder="e.g. John Doe"
             class="form-control"
             value="{{this.selectedInternship?.data.studentname}}"
             [class.error]="!internshipForm.controls.studentname.valid && internshipForm.controls.studentname.touched"
             [formControl]="internshipForm.controls['studentname']">

      <div class="error-message" *ngIf="!internshipForm.controls.studentname.valid &&
                      internshipForm.controls.studentname.touched " >
        This field is invalid
      </div>

      <div class="error-message" *ngIf="internshipForm.controls.studentname.hasError('required') &&
                     internshipForm.controls.studentname.touched ">
        Please enter a student name
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="companyname">Company you visited</label>
      <br/>
      <input type="text"
             id="companyname"
             placeholder="e.g. Pied Piper"
             class="form-control"
             value="{{this.selectedInternship?.data.companyname}}"
             [class.error]="!internshipForm.controls.companyname.valid && internshipForm.controls.companyname.touched"
             [formControl]="internshipForm.controls['companyname']">

      <div class="error-message" *ngIf="!internshipForm.controls.companyname.valid &&
                      internshipForm.controls.companyname.touched " >
        This field is invalid
      </div>

      <div class="error-message" *ngIf="internshipForm.controls.companyname.hasError('required') &&
                     internshipForm.controls.companyname.touched ">
        Please enter a company name
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="personmet">Name(s) of the persons you met at the company</label>
      <br/>
      <input type="text"
             id="personmet"
             placeholder="e.g. Bob Larsen, Johanne Bech"
             class="form-control"
             value="{{this.selectedInternship?.data.personmet}}"
             [class.error]="!internshipForm.controls.personmet.valid && internshipForm.controls.personmet.touched"
             [formControl]="internshipForm.controls['personmet']">

      <div class="error-message" *ngIf="!internshipForm.controls.personmet.valid &&
                      internshipForm.controls.personmet.touched " >
        This field is invalid
      </div>

      <div class="error-message" *ngIf="internshipForm.controls.personmet.hasError('required') &&
                     internshipForm.controls.personmet.touched ">
        Please name of person(s) you met
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="companyvision">Company vision</label>
      <br/>
      <textarea type="text"
                rows="5"
                id="companyvision"
                placeholder="Write something here with a minimum lenght of 10 characters...)"
                class="form-control"
                [class.error]="!internshipForm.controls.companyvision.valid"
                [formControl]="internshipForm.controls['companyvision']"> </textarea>


      <!--Dirty: Control's value has changed-->

      <div class="error-message" *ngIf="internshipForm.controls.companyvision.dirty &&
                                          !internshipForm.controls.companyvision.valid">
        Write at least 10 characters
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="companycompetence">Enter company competence need</label>
      <br/>
      <textarea type="text"
                rows="5"
                id="companycompetence"
                placeholder="Write something here with a minimum lenght of 10 characters..."
                class="form-control"
                value="{{this.selectedInternship?.data.companycompetence}}"
                [class.error]="!internshipForm.controls.companycompetence.valid"
                [formControl]="internshipForm.controls['companycompetence']"> </textarea>


      <!--Dirty: Control's value has changed-->

      <div class="error-message" *ngIf="internshipForm.controls.companycompetence.dirty &&
                                          !internshipForm.controls.companycompetence.valid">
        Write at least 10 characters
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="studentcompetence">Enter student competence </label>
      <br/>
      <textarea type="text"
                rows="5"
                id="studentcompetence"
                placeholder="Write something here with a minimum lenght of 10 characters..."
                class="form-control"
                value="{{this.selectedInternship?.data.studentcompetence}}"
                [class.error]="!internshipForm.controls.studentcompetence.valid"
                [formControl]="internshipForm.controls['studentcompetence']"> </textarea>


      <!--Dirty: Control's value has changed-->

      <div class="error-message" *ngIf="internshipForm.controls.studentcompetence.dirty &&
                                            !internshipForm.controls.studentcompetence.valid">
        Write at least 10 characters
      </div>
    </div>
  </div>


  <div class="row">
    <div class="form-group">
      <label for="collaborative">Collaborative oppurtunities </label>
      <br/>
      <textarea type="text"
                rows="5"
                id="collaborative"
                placeholder="Write something here with a minimum lenght of 10 characters..."
                class="form-control"
                value="{{this.selectedInternship?.data.collaborative}}"
                [class.error]="!internshipForm.controls.collaborative.valid"
                [formControl]="internshipForm.controls['collaborative']"> </textarea>

      <!--Dirty: Control's value has changed-->

      <div class="error-message" *ngIf="internshipForm.controls.collaborative.dirty &&
                                          !internshipForm.controls.collaborative.valid">
        Write at least 10 characters
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <label for="othercomments">Other comments </label>
      <br/>
      <textarea type="text"
                rows="5"
                id="othercomments"
                placeholder="Write something here..."
                class="form-control"
                value="{{this.selectedInternship?.data.othercomments}}"
                [formControl]="internshipForm.controls['othercomments']"> </textarea>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </div>
</form>
