<div class="jumbotron introduction">
  <div class="row">
     <div class="introduction-text col-md-6 offset-md-5">
       <h1>Angular2 Internship Application</h1>
       <p>This is a simple Angular2 application, which interacts with an API and has functionalities to create,
         edit and view internships</p>
     </div>
  </div>
</div>
<div class="row">
  <div class="subdiv col-md-4">
    <h3>Subdiv 1 Header</h3>
    <p>Lorem ipsum, lorem ipsum, lorem ipsum lorem psum bla bla bla haha</p>
    <span class="btn btn-success">Button</span>
  </div>
  <div class="subdiv col-md-4">
    <h3>Subdiv 2 Header</h3>
    <p>Lorem ipsum, lorem ipsum, lorem ipsum lorem psum bla bla bla haha</p>
    <span class="btn btn-success">Button</span>
  </div>
  <div class="subdiv col-md-4">
    <h3>Subdiv 3 Header</h3>
    <p>Lorem ipsum, lorem ipsum, lorem ipsum lorem psum bla bla bla haha</p>
    <span class="btn btn-success">Button</span>
  </div>
</div>
